# Create Calendar table

Optionally, you can specify ranges for date directly in the eda notebook

## Import modules

In [15]:
import os
import sys

import pandas as pd
import datetime as dt

# To print all the outputs in the cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# To show warnings only once:
import warnings; warnings.filterwarnings(action='once')

# Set path
sys.path.insert(1, '../tools/')
import helpers as hp

In [16]:
path_to_processed_data = '../data/processed/'
file_sales = 'online_sales.csv'

In [17]:
df = pd.read_csv(os.path.join(path_to_processed_data, file_sales))

df['transaction_date'] = pd.to_datetime(df['transaction_date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52924 entries, 0 to 52923
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customer_id          52924 non-null  int64
 1   transaction_id       52924 non-null  int64
 2   transaction_date     52924 non-null  datetime64[ns]
 3   product_sku          52924 non-null  object
 4   product_description  52924 non-null  object
 5   product_category     52924 non-null  object
 6   quantity             52924 non-null  int64
 7   price                52924 non-null  float64
 8   delivery_charges     52924 non-null  float64
 9   coupon_status        52924 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(3), object(4)
memory usage: 4.0+ MB

In [18]:
start_date = df['transaction_date'].dt.date.min()
end_date = df['transaction_date'].dt.date.max()

In [19]:
df = hp.create_calendar_table(start_date, end_date)
df

,date,date_weekday,day_of_week,is_weekend,abbreviated_weekday,month_start,month_num,month_year
0,2019-01-01,Tuesday,1,0,Tue,2019-01-01,1,January 2019
1,2019-01-02,Wednesday,2,0,Wed,2019-01-01,1,January 2019
2,2019-01-03,Thursday,3,0,Thu,2019-01-01,1,January 2019
3,2019-01-04,Friday,4,0,Fri,2019-01-01,1,January 2019
4,2019-01-05,Saturday,5,1,Sat,2019-01-01,1,January 2019
...,...,...,...,...,...,...,...,...
360,2019-12-27,Friday,4,0,Fri,2019-12-01,12,December 2019
361,2019-12-28,Saturday,5,1,Sat,2019-12-01,12,December 2019
362,2019-12-29,Sunday,6,1,Sun,2019-12-01,12,December 2019
363,2019-12-30,Monday,0,0,Mon,2019-12-01,12,December 2019
364,2019-12-31,Tuesday,1,0,Tue,2019-12-01,12,December 2019

In [20]:
path_to_save = '../data/processed/'
file_calendar_tbl = 'calendar_tbl.csv'
hp.write_df_to_csv(df, path_to_save, file_calendar_tbl)